In [4]:
print ("ARTIFICIAL INTELLIGENCE") 
print ("Name:Naomi Iglesias Hernández   Student Number:1991862   Hour:MaN4")

ARTIFICIAL INTELLIGENCE
Name:Naomi Iglesias Hernández   Student Number:1991862   Hour:MaN4

In [5]:
print ("EXERCISE 1")

EXERCISE 1

In [146]:
Name =input("What's your Name?:   ")

a= "Ana"
b= "Peter"
c= "John"

if Name ==a or Name ==b or Name==c:
  print("ERROR")
else:
 print("hello",Name, ",Welcome!")

What's your Name?:   Peter
ERROR

In [147]:
print ("EXERCISE 2")

EXERCISE 2

In [160]:
List=[4,3,8,6,2,9,4,2,7,8]
Last_element= List[-1]
print("Last element:  ",Last_element)

print()
List.reverse()
print("Reverted List: ",List)

Last element:   8

Reverted List:  [8, 7, 2, 4, 9, 2, 6, 8, 3, 4]

In [ ]:
print ("EXERCISE 3")

In [170]:
def print_frame(*words):
  size=max(len(word)for word in words)
  print('*'*(size+ 2))
  for word in words:
    print('*{:<{}}*'.format(word,size))
  print('*'*(size+2))
print_frame(" Hello ", " my ", " name "," is ", " Naomi ", " Iglesias ")

************
* Hello    *
* my       *
* name     *
* is       *
* Naomi    *
* Iglesias *
************